/console/node_modules
/console/dist
/core/mediators/**/node_modules
/core/api/node_modules
/core/api/dist
/mediators/**/dist
.tmp
.sass-cache
.idea/**
.project
openhim-webapp-2.sublime-project
openhim-webapp-2.sublime-workspace
packaging/.gnupg
packaging/.npm
packaging/builds/*
packaging/.gitconfig
packaging/Vagrantfile
\#*
*~
.#*
\#*\#
**/.vagrant
npm-debug.log
.vscode
.vagrant
/config